<div class="row-fluid">
	<div class="span12">
		<div id="home-title">
			Select Your City
		</div>	
	</div>
</div>


<div class="row-fluid">
	<div class="span12">
		<% @cities.each do |city| %>
			<div id="home-networking_group-buttons">
				<%= link_to city_path(city), :class => "home-networking_group-buttons-css" do %>
				<%= city.name %>
			</div>	
				<% end %>
			
	</div>	
</div>

<% end %>