<div class="row-fluid">
	<div class="span12">
		<div id="home-title">
			Join a Networking Group	
		</div>	
	</div>
</div>


<div class="row-fluid">
	<div class="span12">
		<% @groups.each do |group| %>
			<div id="home-networking_group-buttons">
				<%= link_to group_path(group), :class => "home-networking_group-buttons-css" do %>
				<%= group.name %>
			</div>	
				<% end %>
			
	</div>	
</div>

<% end %>