<p id="notice"><%= notice %></p>

<% @group_page.group.users.each do |user| %>
<%= user.email %><br>
<% end %>


<%= link_to 'Edit', edit_group_page_path(@group_page) %> |
<%= link_to 'Back', group_pages_path %>
