<p id="notice"><%= notice %></p>

<div class="row-fluid">
	<div class="span12">
		<div id="group-show-title">	
			<%= @city.name %>
		</div>	
	</div>
</div>


<div class="row-fluid">
	<div class="span12">
		<div id="group-hello-member">	
		 Welcome! There are <%= @city.groups.count %> networking groups in <%= @city.name %>
		</div>	
	</div>
</div>





