// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#group-show-title{
	margin:40px;
	text-align:center;
	font-family: 'helvetica Neue';
	font-size:64px;
}

.group-name-title{
  	font-family:'helvetica Neue';
  	font-weight: bold;
  	font-size:46px;
	padding:80px;
	color:white;
}


#group-hello-member{
	padding:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
}

#group-users-count{
	padding:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
}

#group-summary-heading{
	padding:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
}

#group-industries-list{
	padding:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
}

#group-industries-list-item{
	margin:10px;
	background-color:#059BC2;
	color:white;
	float:left;
	padding:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
}

#group-industry-may_join{
	padding:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
	line-height:40px;
}

#group-industry-may_not_join{
	padding:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
	line-height:40px;
}

#group-enter-button{
	padding:20px;
}

.group-enter-button-css{
	margin:10px;
	background-color:#69BD58;
	color:white;
	float:left;
	padding:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	text-decoration:none !important ;
	outline: none;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

#group-join-button{
	margin:10px;
	background-color:#69BD58;
	color:white;
	float:left;
	padding:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	text-decoration:none !important ;
	outline: none;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;	
}

#group-leave-button{
	margin:10px;
	background-color:#F30000;
	color:white;
	float:left;
	padding:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	text-decoration:none !important ;
	outline: none;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

#group-show-background{
	margin-top:-20px;
	background:#474B4F;
	height:240px;
	background-size:cover;
}
.ui.sidebar{
	padding:20px;
	background-color:#474B50;
}
.launch.button {
    position: fixed;
    top: 40px;
	right: auto;
    width: 70px;
}

.new-city-group-button{
	margin:40px;
}

.group-show-subheading{
	color:#fff;
	font-size:20px;
}

.member-count-border{
	margin-left:100px;
	background:#3192FA;
	margin-top:60px;
	height:20px;
	width:40px;
	padding:20px;
}
.member-count{
	font-family:'helvetica Neue';
  	font-weight: bold;
  	font-size:46px;
	color:white;
	text-align:center;
	background:#3192FA;
}
.member-word-members{
	position:absolute;
	color:white;
	left:110px;
}

.group-member-name{
	font-weight:bold;
	margin-top:30px;
}