// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-title{
	margin-top:60px;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size:64px;
	margin-bottom:60px;
}

#home-networking_group-buttons{
	text-align:center;
	line-height:40px;
}

.home-networking_group-buttons-css{
	color:black;
	font-family: 'Raleway', sans-serif;
	font-size:36px;
	text-decoration:none;
	outline: none;
    box-shadow:none !important;
}

.home-networking_group-buttons-css:hover{
	color:blue;
	font-family: 'Raleway', sans-serif;
	font-size:36px;
	text-decoration:none;
	outline: none;
    box-shadow:none !important;
}

