// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#navbar{
	height:60px;
}

.logo{
	color:white;
	padding:10px;
	font-family: 'helvetica Neue';
	font-size:28px;
	text-decoration:none;
	outline: none;
    box-shadow:none !important;
}


.logo a{
	color:white;
	padding:10px;
	font-family: 'helvetica Neue';
	font-size:28px;
	text-decoration:none;
	outline: none;
    box-shadow:none !important;
}


.logo:hover{
	padding:10px;
	font-family: 'helvetica Neue';
	font-size:28px;
	text-decoration:none;
	outline: none;
    box-shadow:none !important;
}

#home-title{
	margin-top:60px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:64px;
	margin-bottom:60px;
}

.group-name-title{
  	font-family:'helvetica Neue';
  	font-weight: bold;
  	font-size:46px;
	text-align:center;
	padding:80px;
	color:white;
}

#home-networking_group-buttons{
	text-align:center;
	line-height:40px;
}

.home-networking_group-buttons-css{
	color:black;
	font-family: 'Open Sans', sans-serif;
	font-size:36px;
	text-decoration:none;
	outline: none;
    box-shadow:none !important;
}

.home-networking_group-buttons-css:hover{
	color:blue;
	font-family: 'Open Sans', sans-serif;
	font-size:36px;
	text-decoration:none;
	outline: none;
    box-shadow:none !important;
}

.navbar{
	font-family:'Helvetica Neue';
	background-color:#00A6FF;
	color:white;
	height:40px;
	border-bottom:1px solid #008DD9;
}

.login-status{
	padding:10px;
	float:right;
}